*.pyc
*.txt
root_files
*.root
plots
*.pdf
!technote/**/*.pdf
.ipynb_checkpoints/
Background rejection.ipynb
Sandbox.ipynb
__pycache__/
pickles
localSettings.py
.vscode
scripts/test_output
*~
.DS_Store
dataframes
cached_dataframes
plot_output/*
ana_output*
*_output
# Ignore files from memory profiler
mprofile_*.dat

# Ignore Latex temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.cpt
*.toc